<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Elixr.Entitlements
   Elixr

   Created by Timothy Richardson on 4/12/16.
   Copyright (c) 2016 Timothy Richardson. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>keychain-access-groups</key>
        <array>
            <string>$(AppIdentifierPrefix)Marcadian.Elixr</string>
        </array>
    </dict>
</plist>
